@font-face {
   font-family: 'AGAALER';
   font-display: swap;
   src: url('file:///C:/Users/installer/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-05-06_134357/fonts/AGAALER/font.TTF');
}
